<div class="user-details">
  <h1> About me </h1>

<figure>
  <img alt="Francesca Capel" src="{{ "/assets/img/profile_2022.png" | prepend: site.baseurl }}" />
  <figcaption><font size="-2">Photo: A. Griesch/MPP</font></figcaption>
</figure>

<p> I'm a Minerva Fast Track Fellow at the <b>Max Planck Institute for Physics</b> in Munich. I've been in Munich for a while now, as before this I was a postdoc at the <b>Technische Universit&auml;t M&uuml;nchen</b> and <b>ORIGINS Excellence Cluster</b>. I'm originally from the UK and have a degree in Physics from <b>Imperial College London</b>. Before moving to Munich, I completed a Master project in Plasma Physics for Nuclear Fusion at the <b>&Eacute;cole Polytechnique F&eacute;d&eacute;rale de Lausanne (EPFL)</b> in Switzerland, worked for a year at the <b>European Space Agency</b> in The Netherlands and completed my PhD in astroparticle physics at the <b>KTH Royal Institute of Technology</b> in Sweden.</p>

<p>Feel free to get in touch or find out some more about me using the above icons.</p> 

</div>
