<div class="user-details">
  <h1> PhD Thesis </h1>
  <div class="images-center">
    <img alt="Cosmic clues from astrophysical particles" src="{{ "/assets/img/cover_image.png" | prepend: site.baseurl }}" />
  </div>
  
  <p>
    My PhD thesis, <a href="http://www.diva-portal.org/smash/record.jsf?pid=diva2:1430628", style="color:#E4646C">Cosmic clues from astrophysical particles</a>, is now publicly available. This thesis explores different ideas with the underlying goal of reaching a deeper understanding of the astrophysical particles that we detect on Earth. The research projects described above are brought together, with Part I focusing on the development of a space-based observatory for ultra-high-energy comsic rays, and Part II investigating advanced analysis techniques that can be applied to existing data. These two approaches are complementary and the results presented motivate further investment in both directions in order to progress.
  </p>

</div>
