<div class="user-details">
  <h1>Software</h1>

  <div class="user">
    <div class="tech">
    </div>
    <div class="tech">
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-julia-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-linux-plain colored"></i>
    </div>
    <div class="tech">
    </div>
  </div>
  
    <p>I'm a big fan of open-source code and reproducible research. My code can be found on <a href="https://github.com/cescalara" style="color:#E4646C">GitHub</a>, and I list a few recent projects I've been working on below.</p>

  <dl align="left">
    <dt><a href="https://francescacapel.com/nu_coincidence/" style="color:#E4646C">nu_coincidence</a>:</dt>
    <dd>A python package for investigating coincident source-neutrino detections with Monte Carlo simulations.</dd>  
    <dt><a href="https://francescacapel.com/icecube_tools/" style="color:#E4646C">icecube_tools</a>:</dt>
    <dd>A python package for interacting with the publicly available data from the IceCube neutrino telescope, as well as running simulations and simple analyses.</dd>
    <dt><a href="https://francescacapel.com/QCDNUM.jl/" style="color:#E4646C">QCDNUM.jl</a>:</dt>
    <dd>A julia wrapper for the QCDNUM software for fast QCD evolution and convolution.</dd>
    <dt><a href="https://francescacapel.com/PartonDensity.jl/" style="color:#E4646C">PartonDensty.jl</a>:</dt>
    <dd>A julia package to extract parton distribution functions from accelerator data using Bayesian modeling.</dd>
  </dl>

</div>




